


html {
	font-family:Arial;
	
}

header{
	background-image:url("fondo.png");
        background-repeat-x:repeat;
	background-repeat-y:no-repeat;
	background-attachment
	background-size:500px 235px;
	}

body {
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:30px;
}

h1 {
	color: white;
  font-size: 60px;
  text-align: center;
}
