


html {
	font-family:Arial;/*segoe UI*/
	
}


body {
	background-image:url("fondo.png");
    background-repeat-x:repeat;
	background-repeat-y:no-repeat;
	background-size:500px 235px;
	/*background-image:url("123.png");
	background-size:640px 235px;*/
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:30px;
}

h1 {
	color:  white;
  font-size: 60px;
  text-align: center;
}
